
<div class="container my-5">
	<div class="row w-50">

		<form  action="/users/signin" method="post">
			<input type="text" name="_csrf" value="{{csrfToken}}" hidden>
			<div class="mb-3">
				<input value="{{email}}" name="email" type="email" class="form-control" id="exampleInputemail1" placeholder="email">
				{{#each signErrors.email as |er|}}
					 <div class="text-danger">{{er}}</div>
				{{/each}}
			</div>
		
			<div class="mb-3">
				<input name="password" type="password" class="form-control" id="exampleInputpassword1" placeholder="password">
				{{#each signErrors.password as |er|}}
					 <div class="text-danger">{{er}}</div>
				{{/each}}
			</div>


			<div class="float-right">
				<button type="submit" class="btn btn-primary">signin</button>
			</div>
		</form>
	</div>
</div>